* {
  box-sizing: border-box;
}
body {
  background: #424242;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
/* GRID */
.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "status status status"
  ;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: .1rem;
  padding: 1rem;
  overflow-y: hidden;
}
@media (min-width: 768px) {
  .container {
    padding: 3rem;
  }
}
.container .header {
  grid-area: header;
}
.container .main {
  grid-area: main;
  overflow: hidden;
}
.container .status {
  grid-area: status;
}
/* ./GRID */

.header {
  background: #a07236;
  height: 1rem;
}

.main {
  background: #ffa600;
}

.main .outer {
  height: calc(100% - 1rem);
  padding: 1rem 1rem 0;
  background: #ffa600;
  overflow: hidden;
}
.main .txt {
  background: #424242;
  height: 100%;
  padding: 1rem;
  font-family: monospace;
  overflow-y: scroll;
  color: #f2f2f2;
}

.status {
  height: 1rem;
  background: #a07236;
}