* {
  box-sizing: border-box;
}
body {
  background: #424242;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
/* GRID */
.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "status status status"
  ;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: .1rem;
  overflow-y: hidden;
}
@media (min-width: 768px) {
  .container {
    padding: 3rem;
  }
}
.container .header {
  grid-area: header;
}
.container .main {
  grid-area: main;
  overflow: hidden;
  box-shadow: 1px 1px 28px #5a5a5a;
}
.container .status {
  grid-area: status;
}
/* ./GRID */

.header {
  background: #a07236;
  height: 1rem;
  font-size: 0.9rem;
  font-family: "DejaVu Sans", sans-serif;

}
.header .inner {
  display: flex;
}
.header .inner > div {
  flex: 1;

}
.header .inner .last-save {
  text-align: right;
}
.header .inner .last-save .date {
  width: 16rem;
}

.main .outer {
  height: 100%;
  background: #ffa600;
  overflow: hidden;
}
.main .txt {
  background: #424242;
  height: 100%;
  padding: 1rem;
  font-family: monospace;
  overflow-y: scroll;
  color: #f2f2f2;
}

.status {
  height: 1rem;
  background: #a07236;
}